[Desktop Entry]
Encoding=UTF-8
Name=Link to Socket 08: Rooms and Broadcasting
Type=Link
URL=https://online.codingblocks.com/app/player/144668/content/134995/6431
Icon=text-html
