.container{
height: 300px;
width: 300px;
background-color: goldenrod;
display: flex;
flex-wrap: wrap-reverse;
flex-flow: row;
}
.item{
margin: 10px;
height: 50px;
width: 50px;
line-height: 3;
color: ivory;
background-color: hotpink;
}